{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Page{% endblock title %}
{% block main-content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Generate EOM Report</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="start_date">Start Date:</label>
                            <input type="date" name="start_date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="end_date">End Date:</label>
                            <input type="date" name="end_date" class="form-control" required>
                        </div>
                        <div>
                            <label for="ordered_device_types">Select Order of Device Types:</label>
                            <select name="ordered_device_types[]" id="selected_device_types" multiple>
                                {% for device_type in ordered_device_types %}
                                    <option value="{{ device_type }}" {% if device_type in selected_device_types %}selected{% endif %}>{{ device_type }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <input type="hidden" name="device_types_order" id="device_types_order" value="">
                        <button type="button" id="move-up" class="btn btn-success">Move Up</button>
                        <button type="button" id="move-down" class="btn btn-success">Move Down</button>
                        <button type="submit" class="btn btn-primary">Export</button>
                    </form>
                    <p class="mt-3" > <a href="{% url 'profile' %}" class="btn btn-primary">Back</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script>
    $(document).ready(function () {
        $("#selected_device_types").sortable();

        $("#move-up").click(function () {
            var selected = $("#selected_device_types option:selected");
            selected.insertBefore(selected.first().prev());
            updateOrder();
        });

        $("#move-down").click(function () {
            var selected = $("#selected_device_types option:selected");
            selected.insertAfter(selected.last().next());
            updateOrder();
        });

        function updateOrder() {
            var order = $("#selected_device_types").find("option").map(function () {
                return this.value;
            }).get();
            $("#device_types_order").val(order.join(','));
        }
    });
</script>
{% endblock %}

{% endblock main-content %}
