{% extends 'Base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{%  block main-content %}

<div class="container my-5">
    <div class="row">
        <h3> Welcome{{request.user.username|capfirst}}</h3>
        <diV class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                <a href="{% url 'profile' %}" class="btn btn-primary">Password Change Done</a> </li>
            </ul>
        </diV>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password changed successfully !!!</h3>
            

        </div>


     {%  endblock main-content %}
